<div class="todo">
  <input
    type="checkbox"
    id="todoCheckbox_{{id}}"
    class="todo-checkbox"
    data-todoid="{{id}}"
    {{#if completed}}checked{{/if}}
  >
  <label for="todoCheckbox_{{id}}" class="todo-text">{{text}}</label>
  <button type="button" class="btn btn-delete" data-todoid="{{id}}">
    <span class="material-icons">delete</span>
  </button>
</div>